.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}


.dialog {
    padding: 16px;
}

.message {
    padding: 16px;
}

.dialogsItems a{
    color: yellow;
    text-decoration: none;
}

button {
    width: 50px;
}